src/**
webview/**
scripts/**
dist/**/*.map
dist-types/**
esbuild.js
tsconfig.json
*.log
*.tsbuildinfo
coverage/**
node_modules/@types/**
node_modules/**/src/**
node_modules/**/*.d.ts
node_modules/**/*.map
node_modules/**/*.md
node_modules/**/tsconfig*.json
node_modules/**/rollup.config.js
node_modules/**/install.js
node_modules/**/SECURITY.md
node_modules/**/ThirdPartyNoticeText.txt
